@font-face {
    font-family: 'Helvetica Neue LT Std 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Std 45 Light'), url('/app/HelveticaNeue.otf');
}
body {
    background:#193048;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica Neue LT Std 45 Light';
    font-weight:normal;
}
p, div {
    font-family:'Helvetica Neue LT Std 45 Light';
    font-weight:normal;
}


label {
    margin: 10px 0;
    padding: 0;
}

.panel {
    background-color: #e3eaf3;
}
.panel-heading{
    background-color: #0098cd;
    color: #f3f8fe;
}

.jumbotron{
    margin-top: 10%;
    padding-bottom: 10%;
    background-color: #e3eaf3 !important;
}

.btn.pull-right{
    margin-top: 7%;
}
.btnqb{
    background-color: #2ca01c;
    color: #f3f8fe;
}
.btnqb:hover{
    background-color: #56b349;
    color: #f3f8fe;
}
.btnqb:focus{
    color: #f3f8fe;
}