<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-primary" style="margin-top: 5%">
                <div class="panel-heading">
                    <h1>QB email grabber<h1>
                        <hr></hr>
                        <h2>Please provide info</h2>
                </div>
                <div class="panel-body">
                <form class="form" ng-submit="cc.addPerson(cc.newCustomer)">
                
                <div class="form-group col-md-6 col-xs-12">
                    <label for="name">Your name</label>
                    <input placeholder="Please provide your full name" type="text" class="form-control" ng-model="cc.newCustomer.person">
                    <label for="name">Company name</label>
                    <input placeholder="Please provide your company name" type="text" class="form-control" ng-model="cc.newCustomer.company">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label for="name">E-mail</label>
                    <input placeholder="Please provide contact e-mail" type="email" class="form-control" ng-model="cc.newCustomer.email">
                    <label for="name">Phone number</label>
                    <input placeholder="Please provide contact phone number" type="text" class="form-control" ng-model="cc.newCustomer.phone">
                </div>
                <div class="form-group">
                    <label for="name">Billing address</label>
                    <textarea rows="3" placeholder="Please provide company billing address" type="text" class="form-control" ng-model="cc.newCustomer.billAddress"></textarea>
                </div>    
                <div class="col-md-12 btn-group">
                    <div data-size="normal" class="g-recaptcha" data-sitekey="6LeWCCETAAAAAO___dCNPAm95cXfrf9CBukxkMVi"></div>
                    <button type="submit" class="btn btn-success pull-right" style="width: 30%">SEND</button>
                </form>
                </div>                
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">
    <div class="row" style="text-align: center">
        <div class="list-panel" ng-repeat="person in cc.list">
            <div class="panel-body list">
                <div class="col-sm-2">
                    <p>{{person.company}}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{person.id}}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{person.name}}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{person.email}}</p>
                </div>
                <div class="col-sm-2">
                    <p>{{person.field1}}</p>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-small btn-danger" ng-click="cc.removePerson($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>
                </div>
            </div>

        </div>
    </div>
</div> -->