body {
    background-image: url(../../assets/img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x:  hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

input, button {
    margin-top: 20px;
    padding: 0;
}
.panel {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 2px;
}