body {
    background-image: url(../../assets/img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x:  hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

label {
    margin: 10px 0;
    padding: 0;
}

.panel {
    box-shadow: 10px 0 10px rgba(0,0,0,0.5);
    padding: 3px;
}
.jumbotron{
    margin-top: 10%;
    padding-bottom: 5%;
}