body {
    background-image: url("https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow-x:  hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

input {
    margin-bottom: 20px;
    padding: 0;
}





/*
.list {
    background-color: #555;
    border-radius: 10px;
    opacity: .85;
    padding: 10px;
    color: white;
    -webkit-filter: drop-shadow(8px 8px 10px #222);
    filter: drop-shadow(8px 8px 10px #222);
    margin-bottom: 20px;
}
.list:hover {
    background-color: #333;
}.sub-container {
    padding: 10px 20px 0 20px;
    background-color: #555;
    border-radius: 10px;
    margin: 30px 0;
    opacity: .85;
    -webkit-filter: drop-shadow(8px 8px 10px #222);
    filter: drop-shadow(8px 8px 10px #222);
} 
.sub-container:hover {
    background-color: #333;*/