<div class="container">
    <div class="jumbotron text-center">
    <h1>Hello, how are you?!</h1>
    <p>Could you please provide your mobile phone number, we would like to who we are talking to </p>
    
   <div class="col-md-8 col-md-offset-2">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"> Check your number!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

 </div>
</div>