<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-primary" style="margin-top: 3%">
                <div class="panel-heading">
                    <h1>QB form helper<h1>
                        <hr></hr>
                        <h2>Please provide info</h2>
                </div>
            <div class="panel-body">
                <form class="form" ng-submit="cc.addCustomer(cc.newCustomer)">
                
                <div class="form-group col-md-6 col-xs-12">
                    <label for="name">Your name</label>
                    <input placeholder="Please provide your full name" type="text" class="form-control" ng-model="cc.newCustomer.person">
                    <label for="name">Company name</label>
                    <input placeholder="Please provide your company name" type="text" class="form-control" ng-model="cc.newCustomer.company">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <label for="name">E-mail</label>
                    <input placeholder="Please provide contact e-mail" type="email" class="form-control" ng-model="cc.newCustomer.email" required>
                    <label for="name">Phone number</label>
                    <input placeholder="Please provide contact phone number" type="tel" class="form-control" ng-model="cc.newCustomer.phone" required>
                </div>
                <div class="form-group col-md-12 col-xs-12">
                    <label for="address">Billing address</label>
                    <textarea rows="3" placeholder="Please provide company billing address" type="text" class="form-control" ng-model="cc.newCustomer.billAddress"></textarea>
                </div>    
                <div class="col-md-6 col-xs-12">
                    <div data-size="normal" class="g-recaptcha" data-sitekey="6LeWCCETAAAAAO___dCNPAm95cXfrf9CBukxkMVi"></div>
                </div>
                <div class="col-md-6 col-xs-12 btn-group">
                    <button type="submit" class="btn btn-success pull-right" style="width: 100%">SEND</button>
                </div>
                
                </form>
            </div>                
           </div>
    </div>
  </div>
</div>